name: Global Sync CI-Tools

on:
  push:
    branches:
      - main

jobs:
  sync-repositories:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Meta Repository
        uses: actions/checkout@v4
        with:
          repository: Volontariapp/meta
          token: ${{ secrets.ORG_REPO_TOKEN }}
          submodules: recursive
          fetch-depth: 0

      - name: Setup Git Configuration
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

      - name: Update each Service and Push
        run: |
          SERVICES=("api-gateway" "ms-event" "ms-post" "ms-user" "nativapp" "npm-packages")
          
          for repo in "${SERVICES[@]}"; do
            echo "Processing $repo..."
            cd $repo
            
            git checkout main
            git pull origin main
            
            git submodule update --remote ci-tools
            
            if ! git diff --quiet; then
              git add ci-tools
              git commit -m "chore: update ci-tools to latest version"
              git push https://x-access-token:${{ secrets.ORG_REPO_TOKEN }}@github.com/Volontariapp/$repo.git main
            else
              echo "No changes for $repo"
            fi
            
            cd ..
          done

      - name: Update Meta Repository Pointers
        run: |
          git add .
          if ! git diff --cached --quiet; then
            git commit -m "chore: sync all services with latest ci-tools"
            git push origin main
          else
            echo "Meta repo already up to date"
          fi
